<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gadget.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gadget.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @gadget.price %>
</p>

<p>
  <strong>Company:</strong>
  <%= @gadget.company %>
</p>

<p>
  <strong>Ratings:</strong>
  <%= @gadget.ratings %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@gadget.picture_url, width: 80,height:80) if @gadget.picture.present? %>
</p>

<%= link_to 'Edit', edit_gadget_path(@gadget) %> |
<%= link_to 'Back', gadgets_path %>
